* {
  margin: 20px auto;
  max-width: 500px;
  font-size: 20px;
  text-align: center;
}
.div_center {
  display: flex;
  flex-direction: column-reverse;
}
img {
  transition: 1.5s;
}
.btn {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid black;
  cursor: pointer;
  user-select: none;
  border-radius: 30px;
}

.top-img {
  display: block;
}

/* Khi checkbox được tick → ẩn ảnh */
#toggle:checked ~ .top-img {
  opacity: 0;
}
