* {
  margin: 14px auto;
  max-width: 80%;
  font-size: 100%;
  text-align: center;
}
.div_center {
  display: flex;
  flex-direction: column-reverse;
}
img {
  transition: 2s;
  border-radius: 10px;
}
.btn {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid black;
  cursor: pointer;
  user-select: none;
  border-radius: 30px;
}

.top-img {
  display: block;
  width: 80%;
}

/* Khi checkbox được tick → ẩn ảnh */
#toggle:checked ~ .top-img {
  opacity: 0;
}
.btn:active {
  background-color: black;
  color: white;
}
input,
textarea,
select {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  appearance: none;
}
